{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
	<body>
		<h1>About Video game data</h1>
		<p>The data used in this site is from the CORGIS Dataset project. It is information about games releasd from 2004 to 2010 including ratings, play times, genre details and more.
		The dataset has play time information found from crowd sourced data.</p>
		<br>
		<p>a statistic that is especially interesting in my video game data analysis is the "length" catagory. it was different playtimes of video games based off of playstyles and 
		completion. it used crowd sourced data from forms.</p>
	</body>
	
</html>
{% endblock %}